* {
    margin: 0;
    padding: 0;
}
.tiny5-regular {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url("images/Background.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 120px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    
font-style: normal;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #c3d9ff;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 150px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 25px;
    color: #c3d9ff;
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
}
nav .fa{
    display: none;
}

@media (max-width: 700px){
    .text-box h1{
        font-size: 40px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #7ba5d9;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
        
    }
   nav .fa{
        display: block;
        color: #ffffff;
        margin: 10px;
        font-size: 20px;
        cursor: pointer;
   }
   .nav-links ul{
        padding: 30px;
   }
}

/*-----course------*/


.course{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
h1{
    font-size: 36px;
    font-weight: 600;

}

p{
    color: #6c757d;
    font-size: 14px;
    font-weight: 300px;
    line-height: 22px;
    padding: 10px 
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background: #79c7f1;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px;
    box-sizing: border-box; 
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
}
@media (max-width: 700px){
    .row{
        flex-direction: column;
    }
    
}

/*----campus------*/

.campus{
    width: 80%;
    margin: auto;
    padding-top: 50px;
    text-align: center;
}
.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.campus-col img{
    min-height: 100vh;
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
}
.layer:hover{
    background: rgba(0, 0, 0, 0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0%;
    left: 50%;
    transform:translateX(-50%);
    position: absolute;
}
.layer:hover h3{
    bottom: 40%;
    opacity: 50%;
    transition: 0.5s;
}

/*----facilities------*/

.facilities{
    width: 80%;
    margin: auto;
    padding-top: 50px;
    text-align: center;
}
.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5px;
    text-align: center;
}
.facilities-col img{
    width: 1105px;
    border-radius: 15px;
    margin-bottom: 15px;
}
.facilities-col p{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;  
}
.facilities {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url("images/pup.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #fffdfd;
    border-radius: 10px;
    padding: 12px 34px;
    font-size: 30px;
    background: transparent;
    position: absolute;
    cursor: pointer;
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%,-50%);

}   
.hero-btn:hover{
    border:1px solid #c3d9ff;
    background: #ffffff;
    transition: 1s;
}    